localization/venv
GUI/node_modules
GUI/package-lock.json
*.exe
*.appimage
localization/__pycache__

node_modules/

research/.idea/

research/output/

research/.ipynb_checkpoints/

research/raw/

run_server.sh
